{% extends "base.html" %}

{% block content %}

<h3>Edit Member: {{member.name}}</h3>

<form class=form action="/members/{{member.id}}" method="POST">
    <div class="flex-container">
        <div class="grid-item1">
            <label for="name">Name</label> &nbsp
            <input type="text" name="name" value="{{member.name}}" required>
        </div>
        <br>
        <div class="grid-item2">
            <label for="membership">Membership</label> &nbsp
            <select name="membership" value={{member.membership}} required>
                <option value="Deluxe">Deluxe</option>
                <option value="Standard">Standard</option>
            </select>
        </div>
        <br>
        <div class="grid-item3">
            <p>
                <input class="button" type="submit" value="Edit Member">
            </p>
        </div>
    </div>
</form>

{{result}}

{% endblock %}