{% extends 'base.html' %}

{% block content %}
<h1>Members</h1>
<p><a href="/members/new">Add new Member</a></p>

<table>
  <tr>
    <th>Name</th>
    <th>Membership Level</th>
    <th></th>
    <th></th>
  </tr>
  {% for member in members %}
  <tr>
    <td><a href="/members/{{member.id}}">{{member.name}}</a></td>
    <td>{{member.membership}}</td>
    <td>
      <button><a href="/members/{{member.id}}/delete">Delete</a></button></form>
    </td>
    <td>
      <button><a href="/members/{{member.id}}/edit">Edit</a></button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}