{% extends 'base.html' %}

{% block content %}

<h3>Add new Member</h3>

<form class=form action="/members/new" method="POST">
    <div class="flex-container">
        <div class="grid-item1">
            <label for="name">Name</label> &nbsp
            <input type="text" name="name" required>
        </div>
        <br>
        <div class="grid-item2">
            <label for="membership">Membership</label> &nbsp
            <select name="membership">
                <option value="Deluxe">Deluxe</option>
                <option value="Standard">Standard</option>
            </select>
        </div>
        <div class="grid-item3">
            <p>
                <input class="button" type="submit" value="Add Member">
            </p>
        </div>
    </div>
</form>

{{result}}

{% endblock %}