{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>
<p><a href="/bookings/new">Add new Booking</a></p>
<hr>
<h2>Current Bookings</h2>
<table width="100%">
  <tr align="left" style="font-size: 19px;">
    <th>Member</th>
    <th></th>
    <th>Lesson</th>
    <th></th>
    <th>Day</th>
    <th></th>
    <th>Time</th>
    <th></th>
    <th>Duration</th>
  </tr>
  {% for booking in bookings %}
  <tr>
    <td>{{booking.member.name}}</td>
    <td></td>
    <td>{{booking.lesson.name}}</td>
    <td></td>
    <td>{{booking.lesson.day}}</td>
    <td></td>
    <td>{{booking.lesson.time}}</td>
    <td></td>
    <td>{{booking.lesson.duration}} minutes</td>
    <td></td>
    <td>
      <form class="button" action="/bookings/{{booking.id}}/delete" method='POST'> 
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}