{% extends 'base.html' %}

{% block content %}

<h1>Lessons</h1>
<p><a href="/lessons/new">Add new Lesson</a></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Capacity</th>
    <th></th>
    <th>Day</th>
    <th></th>
    <th>Time</th>
    <th></th>
    <th>Duration</th>
    <th></th>
    <th></th>
  </tr>
  {% for lesson in lessons %}
  <tr>
    <td><a href="/lessons/{{lesson.id}}"> {{lesson.name}} </a></td>
    <td>|</td>
    <td>{{lesson.category}}</td>
    <td>|</td>
    <td>{{lesson.capacity}}</td>
    <td>|</td>
    <td>{{lesson.day}}</td>
    <td>|</td>
    <td>{{lesson.time}}</td>
    <td>|</td>
    <td>{{lesson.duration}}</td>
    <td></td>
    <td>
        <form action="/lessons/{{lesson.id}}/delete" method="POST">
        <button><a href="/lessons/{{lesson.id}}/delete">Delete</a></button></form>
    </td>
    <td>
        <button><a href="/lessons/{{lesson.id}}">Edit</a></button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}