{% extends 'base.html' %}

{% block content %}

<h1>Lessons</h1>
<p><a href="/lessons/new">Add new Lesson</a></p>
<hr>
<h2>Current Lessons</h2>
<!-- <p><input type="text" placeholder="Search.."></p> -->
<table width="100%">
  <tr align="left" style="font-size: 19px;">
    <th>Name</th>
    <th>Category</th>  
    <th>Capacity</th>
    <th>Day</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th>Duration</th>
    <th></th>
    <th></th>
  </tr>
  {% for lesson in lessons %}
  <tr>
    <td><a href="/lessons/{{lesson.id}}"> {{lesson.name}} </a></td>
    
    <td>{{lesson.category}}</td>
    <td>{{lesson.capacity}}</td>
    <td>{{lesson.day}}</td>
    <td>{{lesson.time}}</td>
    <td></td>
    <td></td>
    <td>{{lesson.duration}} minutes</td>
    <td>
      <form class="button" action="/lessons/{{lesson.id}}/delete" method='POST'> 
        <input class="button" type="submit" value="delete">
      </form>
    </td>
    <td>
      <form class="button" action="/lessons/{{lesson.id}}/edit">
        <input class="button" type="submit" value="edit">
    </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}