{% extends "base.html" %}

{% block content %}

<h2>Add new Lesson</h2>

<form class=form action="/lessons/new" method="POST">
    <div class="flex-container">
        <div class="grid-item1">
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div class="grid-item2">
            <label for="capacity">Capacity</label>
            <input type="number" name="capacity" min="0" max="30" placeholder="20">
        </div>
        <div class="grid-item3">
            <label for="category">Category</label>  
            <select name="category">
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
            </select>
        </div>
        <div class="grid-item4">
            <label for="day">Day</label>
            <select name="day">
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>
        </div>
        <div class="grid-item5">
            <label for="name">Time</label>
            <input type="time" name="time" min="06:00" max="20:00">
        </div>
        <div class="grid-item6">
            <label for="duration">Duration</label>
            <input type="number" name="duration" min="0" max="120" placeholder="60">
        </div>
        <div class="grid-item7">
            <input class="button" type="submit" value="Add Lesson">
        </div>
    </div>    
</form>

{{result}}

{% endblock %}