{% extends "base.html" %}

{% block content %}

<h3>Add new Lesson</h3>

<form class=form action="/lessons/new" method="POST">
    <div class="flex-container">
        <div class="grid-item1">
            <label for="name">Name</label>
            <input type="text" name="name" required>
        </div>
        <br>
        <div class="grid-item2">
            <label for="capacity">Capacity</label>
            <input type="number" name="capacity" min="0" max="30" required>
        </div>
        <br>
        <div class="grid-item3">
            <label for="category">Category</label>  
            <select name="category">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </div>
        <br>
        <div class="grid-item4">
            <label for="day">Day</label>
            <select name="day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>
        <br>
        <div class="grid-item5">
            <label for="name">Time</label>
            <input type="time" name="time" min="06:00" max="20:00" required>
        </div>
        <br>
        <div class="grid-item6">
            <label for="duration">Duration</label>
            <input type="number" name="duration" min="0" max="120" required>
        </div>
        <br>
        <div class="grid-item7">
            <input class="button" type="submit" value="Add Lesson" required>
        </div>
    </div>    
</form>

{{result}}

{% endblock %}