header {
    background-color: rgb(243, 171, 158);
    padding: 10px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 150px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Oxygen', sans-serif;
}

main {
    padding-top: 160px;
    padding-bottom: 90px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Oxygen', sans-serif;
}

footer {
    background-color: rgb(243, 171, 158);
    position: fixed;
    bottom: 0px;
    left: 0%;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-family: 'Oxygen', sans-serif;
}

display: flex;
justify-content: space-between;

