header {
    background-color: rgb(243, 171, 158);
    padding: 10px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 150px;
}

main {
    padding-top: 160px;
    padding-bottom: 90px;
}

footer {
    background-color: rgb(243, 171, 158);
    position: fixed;
    bottom: 0px;
    left: 0%;
    width: 100%
}