<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Peaches Yoga Studio</title>
</head>
<header>
<h1 style='text-align:center'>Peaches Yoga Studio</h1>
<h3 style='text-align:center'>Location: Wellsbury</h3>
<nav>
    <a href="/">Home</a> &nbsp
    <a href="/members">Members</a> &nbsp
    <a href="/lessons">Lessons</a> &nbsp
    <a href="/bookings">Bookings</a>
</nav>
</header>
    <body>  
        <main>
            <div>
                {% block content%}

                {% endblock%}
            </div>
        </main>
    </body>
    <footer>
        <p style='text-align:center'>&#169 Ginny&Georgia</p>
        <p style='text-align:center'>Netflix 2021</p>
    </footer>
</html>