<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Peaches Yoga Studio</title>
</head>
<header>
<h1>Peaches Yoga Studio</h1>
<h3>Location: Wellsbury</h3>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/lessons">Lessons</a></li>
        <li><a href="/bookings">Bookings</a></li>
    </ul>
</nav>
</header>
    <body>  
        <main>
            <div>
                {% block content%}

                {% endblock%}
            </div>
        </main>
    </body>
    <footer>
        <p>&#169 Ginny&Georgia</p>
        <p>Netflix 2021</p>
    </footer>
</html>