<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <title>Peaches Yoga Studio</title>
</head>
<header>
<h1 style='text-align:center'>Peaches Yoga Studio</h1>
<h3 style='text-align:center'>&#x1F351 Location: Wellsbury &#x1F351</h3>
<nav>
    &#x1F351<a href="/">Home</a> &nbsp
    &#x1F351<a href="/members">Members</a> &nbsp
    &#x1F351<a href="/lessons">Lessons</a> &nbsp
    &#x1F351<a href="/bookings">Bookings</a>
</nav>
</header>
    <body>  
        <main>
                {% block content%}

                {% endblock%}
        </main>
    </body>
    <footer>
        <p style='text-align:center'>&#169 Ginny&Georgia</p>
        <p style='text-align:center'>Netflix 2021</p>
    </footer>
</html>